$logo-container-width: 100px;
$logo-width: 60%;

div {
    margin: 10px;
    text-align: left;
    vertical-align: middle;
    width: 50%;

    button{
        padding: 10px;
        width: 100%;
    }

    .production{
        text-align: left;
        //border: 3px solid black;
        border-radius: 100px 5px 5px 100px;
        width: 100%;
    }

    .buy{
        width: 80%;
        float: right;
    }

    figure {
        //border: 3px solid black;
        border-radius: 50%;
        background-color: white;
        width: $logo-container-width;
        height: $logo-container-width;
        overflow: hidden;
    
        display: inline-block;
        margin: 0px;
        vertical-align: middle;
        text-align: center;

        position: relative;
        top: 0px;
        left: 0px;
    
        img {
            max-width: $logo-width;
            max-height: $logo-width;
            margin: 20% 0;
        }
    
    }

    .progressbar{
        height: 20px;
    }

    mat-progress-spinner{

        display: inline-block;
        margin: 0;
        vertical-align: middle;
        position : relative;
        top: 0px;
        right: $logo-container-width;

    }

    p{
        //width: 100%;
        position: relative;
        right: $logo-container-width/2;
        margin: 0 0 0 10px;
        text-align: center;
        display: inline-block;
        line-height: 25px;
        vertical-align: middle;
    }
    /*span {
        vertical-align: middle;
        margin: auto;
        display: inline-block;
    }*/

}