<div class="col-md-6">
    <button (click)="startFabrication()" class="production" mat-stroked-button color="primary">
        <figure>
            <img src="../assets/img/product-placeholder.png"/>
        </figure>
        <mat-progress-spinner class="example-margin" mode="determinate" [value]="progressbarvalue"></mat-progress-spinner>
        <!-- placeholder value -->
        <span>{{quantite}} product.name</span>    
    </button>
    <button (click)="buyProduct()" class="buy" mat-stroked-button color="primary">
        <!-- placeholder value -->
        <span>Acheter {{qtmulti}} pour {{quantityForCostOfBuy()[1]}}</span>
    </button>
</div>