<div class="col-md-6">
    <button (click)="startManualFabrication()" class="production" mat-raised-button color="primary">
        <figure>
            <img [src]="server+product.logo"/>
        </figure>
        <div *ngIf="!product.managerUnlocked; then determinate else indeterminate"></div>
        <ng-template #determinate>
            <mat-progress-spinner class="example-margin" mode="determinate" [value]="progressbarvalue * 1.4" color="accent"></mat-progress-spinner>
        </ng-template>
        <ng-template #indeterminate>
            <mat-progress-spinner class="example-margin" mode="indeterminate" color="accent"></mat-progress-spinner>
        </ng-template>
        <p>
            <span class="nombre">{{product.quantite}}</span> {{product.name}}
            <br/>pardonnent<br/>
            <span [innerHTML]="product.quantite * product.revenu * angelBonus| bigvalue" class="nombre"></span> péchés
        </p>    
    </button>
    <div *ngIf="isProductBuyable(); then enabledButton else disabledButton"></div>
    <ng-template #enabledButton>
        <button (click)="buyProduct()" class="buy" mat-raised-button color="accent">
            <span>Acheter {{quantityForCostOfBuy()[0]}} {{product.name}} pour <span [innerHTML]="quantityForCostOfBuy()[1] | bigvalue"></span></span>
        </button>
    </ng-template>
    <ng-template #disabledButton>
        <button class="buy" mat-raised-button disabled>
            <span>Acheter {{quantityForCostOfBuy()[0]}} {{product.name}} pour <span [innerHTML]="quantityForCostOfBuy()[1] | bigvalue"></span></span>
        </button>
    </ng-template>
</div>