<div class="col-md-6">
    <button (click)="startFabrication()" class="production" mat-raised-button color="primary">
        <figure>
            <img src="../assets/img/product-placeholder.png"/>
        </figure>
        <mat-progress-spinner class="example-margin" mode="determinate" [value]="progressbarvalue" color="accent"></mat-progress-spinner>
        <p>
            <span class="nombre">{{product.quantite}}</span> {{product.name}}
            <br/>pardonnent<br/>
            <span [innerHTML]="product.quantite * product.revenu | bigvalue" class="nombre"></span> péchés
        </p>    
    </button>
    <div *ngIf="isProductBuyable(); then enabledButton else disabledButton"></div>
    <ng-template #enabledButton>
        <button (click)="buyProduct()" class="buy" mat-raised-button color="accent">
            <span>Acheter {{quantityForCostOfBuy()[0]}} {{product.name}} pour <span [innerHTML]="quantityForCostOfBuy()[1] | bigvalue"></span></span>
        </button>
    </ng-template>
    <ng-template #disabledButton>
        <button class="buy" mat-raised-button disabled>
            <span>Acheter {{quantityForCostOfBuy()[0]}} {{product.name}} pour <span [innerHTML]="quantityForCostOfBuy()[1] | bigvalue"></span></span>
        </button>
    </ng-template>
</div>
<!--
<div *ngIf="condition; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>Content to render when condition is true.</ng-template>
<ng-template #elseBlock>Content to render when condition is false.</ng-template>
-->