<style>
  .header {
    display: grid;
    grid-template-columns: 25% 25% 30% 20%;
  }
  .main {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
<div class="header">
  <div> logo monde </div>
  <div> argent </div>
  <div> multiplicateur </div>
  <div> ID du joueur </div>
</div>
<div class="main">
  <div> liste des boutons de menu </div>
  <div class="product">
    <div> premier produit </div>
    <div> second produit </div>
    <div> troisième produit </div>
    <div> quatrième produit </div>
    <div> cinquième produit </div>
    <div> sixième produit </div>
  </div>
</div>