<header>
  <div id="title">
    <figure class="logo">
      <img [attr.src]="world.logo"/>
    </figure>
    <span id="worldname">{{world.name}}</span>
  </div>
  <div id="money">
    <span [innerHTML]="world.money | bigvalue"></span><span> péchés pardonnés</span>
  </div>
  <div id="multiplicateur">
    <span>multiplicateur</span>
  </div>
  <div id="quantite">
    <button (click)="switchBuyQuantity()" mat-stroked-button color="primary">{{qtmulti}}</button>
  </div>
  <div id="joueurID"><span>ID du joueur</span></div>
</header>
<div class="main">
  <aside>
    <nav>
      <ul>
        <li>Unlocks</li>
        <li>Upgrades</li>
        <li>Manager</li>
        <li>Investors</li>
      </ul>
    </nav>
  </aside>
  <section class="product">
    <app-product *ngFor="let productID of [1,2,3,4,5,6]"
      [prod]="world.products.product[productID]"
      [qtmulti]="qtmulti"
      [buyQuantities]="buyQuantities"
      [worldMoney]="world.money"
      (notifyProduction)="onProductionDone($event)"
      (notifyBuy)="onBuyDone($event)">
    </app-product>
  </section>
</div>