$logo-container-width: 100px;
$logo-width: 80%;

header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    #title, #joueurID{
        margin: 10px;
        text-align: left;
    }
    #joueurID{
        text-align: left;
    }
    div {
        margin: auto;
        text-align: center;
        vertical-align: middle;

        figure {
            background-color: white;
            border: 3px solid black;
            border-radius: 50%;
            width: $logo-container-width;
            height: $logo-container-width;
            overflow: hidden;
        
            display: inline-block;
            margin: 10px;
            vertical-align: middle;
            text-align: center;
        
            img {
                max-width: $logo-width;
                max-height: $logo-width;
                margin: 15% 0;
            }
        
        }

        span {
            vertical-align: middle;
            margin: auto;
            display: inline-block;
        }

    }

}
.main {
    display: grid;
    grid-template-columns: 20% 80%;
}
.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

aside{

    ul{
        list-style-type: none;
        padding: 0;

        li{
            margin: 20px 10px;
            a{
                display: inline-block;
                width: 100%;
                padding: 10px;
            }
        }
    }

    iframe{
        width: 100%;
        border-radius: 4px;
    }
}

.modal {
    position: fixed; /* reste en place */
    z-index: 2; /* au dessus du reste */
    width: 800px; /* largeur */
    height: 85%; /* hauteur */
    overflow: auto; /* barre de scroll si besoin */
    background-color: white; /* opaque */
    border: solid;
    top:10%; /* a 10% du haut */
    left:20%; /* a 20% de la gauche */
}