$logo-container-width: 100px;
$logo-width: 80%;

header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    #title{

        font-weight: bold;
        font-size: 2em;
        letter-spacing: 0.1em;
    }

    #money span{
        font-size: 1.5em;
        line-height: 1.5em;
    }
    #money span.nombre{
        font-weight: bold;
        font-size: 1.25em;
        color: rgb(255, 174, 0);
    }

    #title, #joueurID{
        margin: 10px;
        text-align: left;
    }
    #joueurID{
        text-align: left;
    }
    div {
        margin: auto;
        text-align: center;
        vertical-align: middle;

        figure {
            background-color: white;
            border: 3px solid rgb(255, 174, 0);
            border-radius: 50%;
            width: $logo-container-width;
            height: $logo-container-width;
            overflow: hidden;
        
            display: inline-block;
            margin: 10px;
            vertical-align: middle;
            text-align: center;
        
            img {
                max-width: $logo-width;
                max-height: $logo-width;
                margin: 9% 0;
            }
        
        }

        .holy-light{
            vertical-align: middle;
            width: 4*$logo-container-width;
            height: 4*$logo-container-width;
            float: left;
            z-index: -1;
            position: absolute;
            top: -128px;
            left: -128px;
            background: radial-gradient(#ffffff,#ffffff00 70%);
        }

        span {
            vertical-align: middle;
            margin: auto;
            display: inline-block;
        }

    }

}
.main {
    display: grid;
    grid-template-columns: 20% 80%;
}
.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

aside{

    ul{
        list-style-type: none;
        padding: 0;

        li{
            margin: 20px 10px;
            a{
                display: inline-block;
                width: 100%;
                padding: 10px;
            }
        }
    }

    iframe{
        width: 100%;
        border-radius: 4px;
    }
}

.modal {
    position: fixed; /* reste en place */
    z-index: 2; /* au dessus du reste */
    width: 800px; /* largeur */
    height: 85%; /* hauteur */
    overflow: auto; /* barre de scroll si besoin */
    background-color: white; /* opaque */
    border: solid;
    top:10%; /* a 10% du haut */
    left:20%; /* a 20% de la gauche */

    .layout{
        display: inline-block;
        width: 46%;
        margin: 2%;

        .logo,.name{
            display: inline-block;
            vertical-align: middle;
        }

        .logo{
            width: 50px;
            height: 50px;
            border-radius: 25px;
            border: 1px solid black;
            background-color: white;

            img{
                border-radius: 50%;
                max-width: 100%;
                max-height: 100%;
            }
        }

        .name{
            margin: 5px;
        }

    }

}

#investors div{
    width: 50%;
    margin: auto;
    text-align: center;

    img{
        width: 100%;
        margin: 20px auto;
    }

    button{
        display: block;
    }
    button:first-of-type{
        margin: auto;
    }
    button:last-of-type{
        float: right;
    }
}