<header>
  <div id="title">
    <figure class="logo">
      <!-- placeholder value-->
      <!-- <img [attr.src]="world.logo" /> -->
      <img [attr.src]="logo" />
    </figure>
    <span id="worldname">{{world.name}}</span>
  </div>
  <div id="money">
    <!-- ajout de &nbsp; pour insérer un espace -->
    <span><span [innerHTML]="world.money | bigvalue"></span>&nbsp;péchés pardonnés</span>
  </div>
  <div id="quantite">
    <button (click)="switchBuyQuantity()" mat-raised-button color="primary">{{qtmulti}}</button>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Pseudonyme</mat-label>
      <input matInput type="text" [(ngModel)]="username" (change)="onUsernameChanged()"/>
    </mat-form-field>
  </div>
  <div id="joueurID"><span [innerHTML]="username"></span></div>
</header>
<div class="main">
  <aside>
    <nav>
      <ul>
        <li><a href="#" mat-raised-button color="accent">Unlocks</a></li>
        <li><a (click)="showManagers = true" href="#" mat-raised-button color="accent" matBadge="0" matBadgeColor="warn" matBadgeSize="medium" [matBadgeHidden]="!badgeThis(world.managers.pallier)">Managers</a></li>
        <li><a (click)="showUpgrades = true" href="#" mat-raised-button color="accent">Upgrades</a></li>
        <li><a href="#" mat-raised-button color="accent">Investors</a></li>
        <li>
          <!--<iframe
            src="https://www.youtube.com/embed/ygr5AHufBN4?autoplay=1&loop=1&playlist=ygr5AHufBN4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>-->
        </li>
      </ul>
    </nav>
  </aside>
  <section class="product">
    <app-product *ngFor="let product of world.products.product"
      [prod]="product"
      [buyQuantities]="buyQuantities"
      [qtmulti]="qtmulti"
      [worldMoney]="world.money"
      [managerUnlocked]="product.managerUnlocked"
      (startManualProduction)="onManualProductionStarted($event)"
      (notifyProduction)="onProductionDone($event)"
      (notifyBuyProduct)="onBuyDoneProduct($event)"
      (notifyBuyCost)="onBuyDoneCost($event)">
    </app-product>
  </section>
</div>
<div *ngIf="showManagers" class="modal">
  <div>
    <h1 class="title">Managers make you feel better !</h1>
  </div>
  <div>
    <div *ngFor="let manager of world.managers.pallier">
      <div *ngIf="!manager.unlocked" class="managerslayout">
        <div>
          <div class="logo"><img class="round" [attr.src]="server+manager.logo" /> </div>
        </div>
        <div>
          <div class="managername"> {{ manager.name}} </div>
          <div class="managercible"> {{ world.products.product[manager.idcible-1].name }} </div>
          <div class="managercost"> {{ manager.seuil}} </div>
        </div>
        <div>
          <button (click)="hireManager(manager)" class="hirebutton" mat-raised-button [ngClass]="(world.money >= manager.seuil) ? 'mat-accent' : 'mat-button-disabled'">Hire !</button>
        </div>
      </div>
    </div>
    <button class="closebutton" mat-raised-button color="primary" (click)="showManagers=false">Close</button>
  </div>
</div>


<div *ngIf="showUpgrades" class="modal">
  <div>
    <h1 class="title">Upgrades</h1>
  </div>
  <div>
    <div *ngFor="let upgrade of world.upgrades.pallier">
      <div *ngIf="!upgrade.unlocked" class="managerslayout">
        <div>
          <div class="logo"><img class="round" [attr.src]="server+upgrade.logo" /> </div>
        </div>
        <div>
          <div class="upgradename"> {{ upgrade.name}} </div>
          <div class="upgradecible"> {{ world.products.product[upgrade.idcible-1].name }} ( x{{ upgrade.ratio}} {{ upgrade.typeratio }}) </div>
          <div class="upgradecost"> {{ upgrade.seuil}} $ </div>
        </div>
        <div>
           <button (click)="buyUpgrade(upgrade)" class="hirebutton" mat-raised-button [ngClass]="(world.money >= upgrade.seuil) ? 'mat-accent' : 'mat-button-disabled'">Buy !</button>
        </div>
      </div>
    </div>
    <button class="closebutton" mat-raised-button color="primary" (click)="showUpgrades=false">Close</button>
  </div>
</div>